@import "tailwindcss";

/* Heatmap colors */
.color-empty { fill: #ebedf0; }
.color-scale-1 { fill: #c6e48b; }
.color-scale-2 { fill: #7bc96f; }
.color-scale-3 { fill: #239a3b; }
.color-scale-4 { fill: #196127; }

/* Heatmap square styling */
.react-calendar-heatmap rect {
    width: 16px;
    height: 16px;
    rx: 3;
    ry: 3;
}